.App {
    width: 100%;
  background-color: black;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

ul.link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.profile-buttons {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

nav.navbar {
    padding-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
}
li.nav-item {
    margin: 3px;
    padding: 0;
}
li.left-link {
    float: left;
}
li.right-link {
    float: right;
}
li.profile-btn {
    margin: 0;
    padding: 5px;
}
a {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: larger;
    display: flex;
    align-items: center;
    border-radius: 12px;
    color: #7a7a7a;
    transition: all .2s linear;
}

button {
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: larger;
    border: solid;
    border-radius: 12px;
    border-color: #ffffff;
    background-color: #000000;
    transition: all 2s linear;
    background-size: 400%;
    background-position: 60%;
}
button:hover {
    background-image: url("../public/web.jpg");
    transition: all 2s linear;
}
button.moderation-approve {
    font-weight: bold;
    margin: 5px;
    color: #118400;
    border-color: #118400;
    background-color: #ffffff;
    transition: all .2s linear;
}
button.moderation-approve:hover {
    background-color: #118400;
    color: #ffffff;
}
button.moderation-reject {
    font-weight: bold;
    margin: 5px;
    color: #be0000;
    border-color: #be0000;
    background-color: #ffffff;
    transition: all .2s linear;
}
button.moderation-approve:hover {
    background-color: #118400;
    color: #ffffff;
}

button.search-housing {
    font-weight: bold;
    margin: 5px;
    color: #FF8959;
    border-color: #FF8959;
    background-color: #ffffff;
    transition: all .2s linear;
}
button.search-housing:hover {
    background-color: #FF8959;
    color: #ffffff;
}
button.search-person {
    font-weight: bold;
    margin: 5px;
    color: #FF8959;
    border-color: #FF8959;
    background-color: #ffffff;
    transition: all .2s linear;
}
button.search-person:hover {
    background-color: #FF8959;
    color: #ffffff;
}
p {
    text-align: center;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}
p.description {
    font-weight: bold;
    font-size: larger;
    padding: 12px 20px;
    margin: 5px;
}
span.title {
    color: blue;
    font-size: xx-large;
}
span.spoiler {
    color: red;
    font-weight: normal;
    font-size: large;
}
span.bigheader {
    font-size: xx-large;
 }
div.cred {
    position: fixed;
    bottom: 0;
    left: 90%;
    width: 100%;
    color: #3a3a3a;
}

div.signup {
    margin-top: 90px;
    font-size: larger;
    text-align: center;
}
div.signin {
    margin-top: 50px;
    font-size: larger;
    text-align: center;
}
div.moderation-block {
    padding: 12px 20px;
    padding-top: 0;
    margin: 15px;
    border: 5px solid;
    border-radius: 12px;
    border-color: #FF8959;
}
div.logo {
    padding: 0;
    margin: 0;
}
div.pictures-wrapper {

}
div.offer {
    padding: 10px 10px;
    padding-top: 0;
    margin: 10px;
    border: 2px solid;
    border-radius: 12px;
    border-color: #FF8959;
}
div.offer-price {
    font-family: sans-serif;
}
image.profile-logo {
    padding: 0;
    margin: 0;
}
img.illustration {
    height: 400px;
    width: auto;
}
img.powers {
    height: auto;
    width: 50%;
}
img.final {
    height: 650px;
    width: auto;
}
div.test {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}
div.input-group {
    /*display: flex;*/
    margin-left: 38%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 1.7;
}
#profile-logo {
    padding: 2px;
    padding-bottom: 0;
    margin: 0;
}
input {
    padding: 4px;
    margin: 5px;
    border-radius: 12px;
}
h1 {
    margin: 20px;
}

input[type=text], input[type=password], input[type=number] {
    width: 80%;
    padding: 12px 20px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login {

}


.price-range {
    margin: 20px 20px 20px 20px;
}
.slider-container {
    width: 300px;
    margin: 10px;
}
#min-price {
    width: 30%;
    padding: 10px;
    margin-left: 42px;
}
#max-price {
    width: 30%;
    padding: 10px;
    float: right;
}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/
